
.slick-list {
    margin: 0 -15px;
  }
  .slick-slide > div {
    padding: 0 15px;
  }
  
  .Slider{
    width: 80% !important;
    border: none !important; 
  }
  
  .slider-container {
    /* max-width: 100vw; */
    width: 80%;
    overflow: hidden;
  }